services:

  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres_network
    restart: unless-stopped

  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "8080:8080"

volumes:
  postgres_data:

networks:
  postgres_network:
    driver: bridge